.collapsableHeader{
  margin-top: -10px;
}

.tasks-done {
  text-align: center;
  position: relative;
  padding: 35px;
  margin-top: 50px;
  max-width: 550px;
  left: 50%;
  transform: translate(-50%, 0);
}