.auth-container{
    width: 100%;
    padding: 18px;
    border-radius: 20px;
    border: 2px solid var(--ion-color-light-tint);
    background-color: var(--ion-color-light);
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    box-shadow: 0 -5px 100px var(--ion-color-light-tint);
}

.auth-holder>.background-image{
    width: 100%;
    height: calc(100% - 350px);
}

.with-provider{
    display: flex;
    flex-direction: column;
    gap: 0px;
    background-color: var(--ion-color-light-tint);
    border-radius: 15px;
    margin-top: 20px;
}

.with-provider>p{
    padding: 0;
    margin: 0;
    text-align: center;
    font-size: 1.4rem;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: 4px;
}

.auth-container>h3{
    color: var(--ion-color-dark);
    font-size: 2rem;
    font-weight: bolder;
    text-align: center;
}

/* .auth-container #recaptcha-container{
    background-color: var(--ion-color-dark);
    height: 150px;
    width: 100%;
} */

.auth-container>.providers{
    width: 100%;
    display: flex;
    gap: 5px;
    flex-direction: column;
}

.auth-container>.providers .btn{
    width: 100%;
    font-weight: bold;
    position: relative;
}

.auth-container>.providers .btn>.icon{
    position: absolute;
    left: -5px;
}