ion-item {
  --padding-start: 0;
  --inner-padding-end: 0;
}

ion-label {
  margin-top: 12px;
  margin-bottom: 12px;
}

ion-item h2 {
  font-weight: 600;
  margin: 0;
}

ion-item p {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 95%;
}

.expanded {
  white-space: inherit;
}

.collapsed {
  white-space: nowrap;
}

ion-item .date {
  float: right;
  align-items: center;
  display: flex;
}

ion-item ion-icon {
  color: #c9c9ca;
}

ion-item ion-note {
  font-size: 15px;
  margin-right: 8px;
  font-weight: normal;
}

ion-item ion-note.md {
  margin-right: 14px;
}

.dot {
  display: block;
  height: 19px;
  width: 19px;
  border-radius: 50%;
  align-self: start;
  margin: 16px 10px 16px 16px;
  font-size: 11px;
  text-align: center;
}

.dot-notdone {
  background: var(--ion-color-primary);
}

.dot-done {
  background: var(--ion-color-success);
}

.dot-important {
  background: var(--ion-color-warning);
}

ion-footer ion-title {
  font-size: 11px;
  font-weight: normal;
}

.is-done-holder{
  margin-right: 5px;
  padding: 0px !important;
}

.action-icon{
  font-size: 25px;
}